*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#fff9c45e;
    width: 100%;
    height: 100vh;
    cursor: url(icons8-bee-30.png), auto;
}
.container{
    padding: 10px;
    width: 980px;
    max-width: calc(100% - 20px);
    margin: auto;
    margin-top: 50px;
    color: #fff;
    font-family: sans-serif;
}
.concursantes{
    margin-top: 20px;
    text-align: center;
    margin: auto;
    position: relative;
}
h1{
    text-align: center;
}
canvas{
    margin-top:10px;
    position:relative;
    z-index:1;
}
.roulette{
    margin-top: 5%;
}
button{
    position: relative;
    padding: 10px 20px;
    font-size: 16px;
    background: #BF780F;
    color: #fff;
    border-style: none;
    border-radius: 10px;
    z-index: 10;
    cursor: pointer;
    margin-top: 10px;
}
.mark-winner{
    position: absolute;
    clip-path: polygon(0 10px,60px 0,60px 20px);
    background: black;
    width: 60px;
    height: 20px;
    top: 50%;
    right: 18%;
    z-index: 10;
    box-shadow: 0 0 3px #33333399;
}
.form{
    display: flex;
    height: 10vh;
    width: 60vw;
    justify-content: center;
    align-items: center;
}
input[type=text] {
    padding: 12px;
    border-color: transparent;
    border-radius: 8px;
}









